<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><h1><b><i>WELCOME</i></b></h1>

<h2><b><%= link_to 'PPG Analyser', controller: 'patients' %></b></h2></center>
<body background="/home/pi/project/app/views/image4.jpg">
</body>
